<% @job.interviews.each do |interview| %>
  <div>
      <div class="card">
        <div class="card-content card-medium yellow lighten-3">
          <span class="card-title activator grey-text text-darken-4"> <%= interview.title %> <i class="mdi-navigation-more-vert right icon-button"></i></span>
          <p>This was inteview number <strong><%= interview.number %></strong> with <%= @job.company.name%></p>
          <p>Interview Date: <strong><%=interview.date.strftime("%B %d, %Y")  %></strong></p>
          <p>Interview Type: <strong><%= interview.interview_type %></strong></p>
          <p>Time Since Last Interview/Submission: <strong><%= interview.time_between %></strong></p>
          <p>Interviewed by: <strong><%= interview.interviewer_name %></strong></p>
          <p>Interview Details: <%= interview.details %> </p>
          <div class="row valign-wrapper">
            <div class="col s2 ">
              <img src="<%= interview.user.image %>" alt="" class="circle responsive-img"> 
            </div>
            <div class="col s10">
              <span class="black-text">
                Posted by: <%= interview.user.name %> on <%= interview.created_at.strftime("%B %d, %Y") %>
              </span>
            </div>
          </div>
        </div>
        <div class="card-reveal deep-purple lighten-4">
          <span class="card-title grey-text text-darken-4 ">Interview Details <i class="mdi-navigation-close right"></i></span>
          <p>Questions: <%= interview.questions %></p>
          <span class="card-title grey-text text-darken-4">Interviewer Contact Information</span>
          <p>Name: <%= interview.interviewer_name %></p>
          <p>Email: <%= interview.interviewer_email %></p>
          <p>Phone: <%= interview.interviewer_phone %></p>
        </div>
      </div>
  </div>
<% end %>